<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="main-text" class="display-4 mb-1">AGESCI FVG</h1>
        <h2 class="display-4 mb-4">Piattaforma meeting della Protezione Civile</h2>
        <div>
          <img src="/assets/images/logopc.jpg" alt="Logo">
        <div>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 ">Per partecipare ai corsi per volontari, utilizzare il link diretto fornito via email.</p>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 ">L'accesso tramite credenziali è riservato alla pattuglia regionale e ai formatori. Le richieste di registrazione verranno valutate ed autorizzate singolarmente.</p>
      </div>
    </div>
  </div>
</div>
